.link-bluesky {
    background: rgb(191, 236, 255);
    background: linear-gradient(
      135deg,
      rgb(120, 200, 255) 0%,
      rgb(40, 100, 150) 40%,
      rgb(40, 100, 150) 60%,
      rgb(120, 200, 255) 100%
    );
  }

  path { 
    fill: currentColor;
  }